@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #181a1e !important;
  opacity: 100% !important;
  background-color: #fff !important;
  margin-top: 50px !important;
}
.swiper-pagination-bullet-active {
  background: #0067ff !important;
  border: none !important;
}
.swiper {
  padding-bottom: 80px !important;
}
.swiper-slide.swiper-slide-next {
  background: #0067ff !important;
  border-radius: 12px;
  box-shadow: 0px 20px 70px rgba(0, 103, 255, 0.3) !important;
}
.swiper-slide.swiper-slide-next h4,
.swiper-slide.swiper-slide-next p {
  color: #fff !important;
}
.swiper-pagination {
  top: 75% !important;
}
